@mixin text-grey()
  font: normal 300 1.4rem 'Ubuntu'
  text-transform: uppercase
  color: $color-grey2

@mixin text-title()
  font: normal 400 3rem "PlayfairDisplay"
  color: $color-grey

@mixin text-paragraph()
  font: normal 400 1.4rem/2.4 "PlayfairDisplay"
  color: $color-grey
