@media (max-width: 575px)
  .header
    .logo
      margin-bottom: 1rem
    .nav
      &__item
        margin-right: 1rem

  .intro
    height: 30rem

  .photodiary
    padding-top: 4rem
    padding-bottom: 6rem
    &__suptitle
      margin-bottom: 1.5rem
    &__title
      margin-bottom: 2rem
      font-size: 2.6rem
    &__text
      margin-bottom: 2rem
      &--italic
        padding: 0 1rem
    &__image-wrapper
      height: 28.8rem
      margin-bottom: 3rem

  .blog
    &__item
      margin: 0 auto 6rem
    &__image-wrapper
      height: 20rem
    &__tag
      margin-bottom: 1rem
    &__title
      margin-bottom: 1.5rem

  .newsletter
    &__title
      margin-bottom: 3rem
      font-size: 2.6rem
    .form
      width: 100%

  .comments
    padding: 4rem 0
    .comment
      &__image-wrapper
        min-width: 5rem
        width: 5rem
        height: 5rem
        margin-right: 1.5rem
    &__leave-comment
      margin-bottom: 2rem
    &__user
      width: 5rem
      min-width: 5rem
      height: 5rem
      margin-right: 1.5rem
      .user
        &__initials
          font-size: 2.6rem
