@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    padding: 6rem 0
    .nav
      &__item
        margin-right: 5rem

  .intro
    height: 42rem

  .photodiary
    padding-top: 8rem
    padding-bottom: 12rem
    &__suptitle
      margin-bottom: 2.4rem
    &__title
      margin-bottom: 3rem
    &__text
      line-height: 2.3rem
    &__image-wrapper
      height: 52rem
      margin-bottom: 5rem

  .blog
    &__item
      margin-bottom: 10rem
    &__image-wrapper
      height: 24rem
      margin-bottom: 2.5rem
    &__tag
      margin-bottom: 2rem
    &__title
      margin-bottom: 2.5rem
      font-size: 2.6rem

  .moreposts
    padding: 6rem 0
    &__suptitle
      margin-bottom: 3rem
    .morepost
      width: 30%
      &__image-wrapper
        height: 15rem
        margin-bottom: 1.5rem
      &__title
        text-align: center

  .newsletter
    margin-bottom: 8rem
    padding: 6rem 0
    &__title
      margin-bottom: 6rem
