.photodiary
  padding-top: 10rem
  padding-bottom: 13.5rem

  &__suptitle
    margin-bottom: 2.8rem
    @include text-grey()

  &__title
    margin-bottom: 3.4rem
    @include text-title()

  &__text
    margin-bottom: 5.2rem
    @include text-paragraph()
